<aside class="asideheader">
    <h2 class="asidelogo">Caner University</h2>
    <ul class="asideul">
        <li class="asideli"><a class="asidea" href="/course">Bütün Dersler</a></li>
        <li class="asideli"><a class="asidea" href="/personelCourse">Derslerim</a></li>
        <li class="asideli"><a class="asidea" href="/note">Notlarım</a></li>
        <li class="asideli"><a class="asidea" href="/exam">Sınav</a></li>
        <li class="asideli"><a class="asidea" href="/profile">Kişi Profili</a></li>
        <li class="asideli"><a class="asidea" href="javascript:void(0);" onclick="logout()">Çıkış</a></li>
    </ul>
</aside>